Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Initial MapFission implementation for subgraphs (nested SDFGs WIP)
  dace/memlet.py
  dace/transformation/dataflow/map_fission.py
Labels: core, transformations

Always save SDFG files (even if scopes are broken) and display them in SDFV
  dace/graph/nodes.py
  dace/sdfg.py
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
Labels: core, diode

SDFV: Proper library node rendering support and array property display
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
  diode/webclient/sdfg_utils.js
Labels: diode

API update
  tests/mapfission_test.py
Labels: test

Take care of more cases for nested SDFGs
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Missing type inference _IfExp
  dace/codegen/cppunparse.py
Labels: codegen

Missing type inference _IfExp
  dace/codegen/cppunparse.py
Labels: codegen

Fix MapFission with nested SDFGs
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Disallow MapFission for dynamic-range maps (will allocate arrays dynamically)
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Add possibility to ignore tasklets by name
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

Don't warn on uninitialized Streams
  dace/sdfg.py
Labels: core

Added StreamRemote as DefinedType. Reorganized SMI channel opening to not re-open an already created channel
  dace/codegen/targets/cpu.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/target.py
Labels: codegen

Clean up warnings and errors in code generators
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
Labels: codegen

Codegen: Refactor functions out of cpu and into c++
  dace/codegen/targets/cpp.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/immaterial.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/transformation/dataflow/map_for_loop.py
Labels: codegen, transformations

Rename function that is used by more than one file
  dace/codegen/targets/cuda.py
  dace/codegen/targets/framecode.py
Labels: codegen

Codegen: add scope and tasklet preamble/postamble functions that can be extended
  dace/codegen/targets/cpu.py
  dace/codegen/targets/target.py
Labels: codegen

Fix minor issue with refactoring
  dace/codegen/targets/xilinx.py
Labels: codegen

Fix another minor issue with refactoring
  dace/codegen/targets/cpu.py
Labels: codegen

Yapfd
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Handle output to remote stream in tasklets
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Remove {file_header} again
  dace/codegen/targets/cuda.py
Labels: codegen

Use exclude_tasklets property
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Modified cudnn_tasklet and added algo destroy
  dace/frontend/tensorflow/tensorflow.py
  samples/sdfg_api/cudnn_tasklet.py
Labels: frontend, samples

GPU option for conv_test.py
  tests/cuda_test.sh
  tests/tensorflow/conv_test.py
Labels: test

remove algo destroy again
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Serialization: Raise TypeError exceptions in nested SDFGs, now that we parse top-down
  dace/serialize.py
Labels: core

Nested SDFG names that have '_in' or '_out' appended to them, now also have '__' prepended.
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Changes return type of 'free_symbols(..)' from set to dict.
  dace/subsets.py
Labels: core

Adds argument 'nsdfg' to 'InlineSDFG._modify_memlet(..)'. It's the nested SDFG to be inlined.
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Extends interface of 'Range.offset()' to accept 'list' and 'double' for argument 'offset'.
  dace/subsets.py
Labels: core

Imports 'dace.graph.nxutil' explicitly.
  dace/transformation/pattern_matching.py
Labels: transformations

Considers edges for symbol extraction.
  dace/sdfg.py
Labels: core

MergeArrays: Only consider source nodes that are of the same data descriptor
  dace/transformation/dataflow/merge_arrays.py
Labels: transformations

Offset memlets before unsqueezing
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Make MapFission match condition more accurate
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Update tests/cuda_test.sh
  tests/cuda_test.sh
Labels: test

memlet re-propagation in MergeArrays
  dace/transformation/dataflow/merge_arrays.py
Labels: transformations

Two more tests for MapFission
  tests/mapfission_test.py
Labels: test

Various corrections to MapFission I/O and nested SDFGs with multiple states
  dace/transformation/dataflow/map_fission.py
  tests/mapfission_test.py
Labels: transformations, test

Correct `replace` for C++ tasklets
  dace/sdfg.py
Labels: core

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
