Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*

Fix issue with CUDA streams being removed from GPU_Global maps with no inputs and nested maps
  dace/codegen/targets/cuda.py
Labels: codegen

Fix for registering two targets with the same codegen
  dace/codegen/codegen.py
  dace/codegen/compiler.py
  dace/codegen/targets/intel_fpga.py
Labels: codegen

All paddings working without stride
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Code cleanup
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Add test for the MapFission transformation
  tests/mapfission_test.py
Labels: test

Fix `scope_subgraph` for the case where include_exit=False
  dace/sdfg.py
Labels: core

Fix SDFG nesting in case of empty memlets, add sub-case to map fission test
  dace/transformation/helpers.py
  tests/mapfission_test.py
Labels: transformations, test

Padding working with strides
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

pad only with positive padding
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

DIODE: SDFG saving and CTRL-S functionality
  diode/webclient/diode.js
  diode/webclient/main.js
Labels: diode

Change API of apply_transformations
  dace/frontend/tensorflow/tensorflow.py
  dace/sdfg.py
  tests/double_buffering_test.py
  tests/expansion_dynamic_range_test.py
  tests/instrumentation_test.py
  tests/mapfusion_test.py
  tests/mapreduce5_test.py
  tests/mapreduce6_test.py
  tests/multiprogram_cudatest.py
  tests/tile_twice_test.py
  tests/tiling_test.py
  tests/wcr_cudatest.py
Labels: core, frontend, test

Change apply_gpu_transformations to use GPUTransformSDFG
  dace/sdfg.py
Labels: core

SDFV: Don't show DIODE metadata in sidebar
  diode/webclient/sdfv.js
Labels: diode

SDFV: Allow enabling/disabling level-of-detail
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
  diode/webclient/sdfv.css
Labels: diode

SDFV: Add menu button with "Save view as PNG" button
  diode/webclient/renderer.js
  diode/webclient/sdfv.css
  diode/webclient/sdfv.js
Labels: diode

SDFV: Add "Save as PDF" buttons and {canvas2pdf.js, blob-stream.js, pdfkit.js}
  diode/sdfv.html
  diode/templates/sdfv.html
  diode/webclient/external_lib/blob-stream.js
  diode/webclient/external_lib/canvas2pdf.js
  diode/webclient/external_lib/pdfkit.standalone.js
  diode/webclient/renderer.js
Labels: diode

SDFV: Support for stroke and fill in exported PDFs
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
Labels: diode

Fix nested SDFG PDF fill size
  diode/webclient/renderer_elements.js
Labels: diode

SDFV: nicer context menu font
  diode/webclient/sdfv.css
Labels: diode

Rudimentary dash support for canvas2pdf
  diode/webclient/external_lib/canvas2pdf.js
Labels: diode

SDFG renderer: Disable menu if imports are not found
  diode/webclient/renderer.js
Labels: diode

DIODE support for PDF export
  diode/webclient/index.html
Labels: diode

Fix minor bugs in SDFG renderer
  diode/webclient/renderer.js
Labels: diode

SDFV: Search button
  diode/sdfv.html
  diode/templates/sdfv.html
  diode/webclient/sdfv.js
Labels: diode

SDFV: SDFG outline / hierarchical structure button
  diode/sdfv.html
  diode/templates/sdfv.html
  diode/webclient/sdfv.css
  diode/webclient/sdfv.js
Labels: diode

SDFV outline: Minor fix and indication for collapsed nodes / states
  diode/templates/sdfv.html
  diode/webclient/sdfv.js
Labels: diode

Relax condition for InlineSDFG in the case of input/output connectors
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Initial implementation of MapFission apply conditions and helpers
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/map_fission.py
  tests/mapfission_test.py
Labels: transformations, test

Split apply_transformations to two methods, add examples to documentation
  dace/sdfg.py
  tests/mapfusion_test.py
Labels: core, test

Check for gpu
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Type hint update
  dace/sdfg.py
Labels: core

MapFission: harden matching conditions
  dace/transformation/dataflow/map_fission.py
Labels: transformations

reset conv_test.py to master
  tests/tensorflow/conv_test.py
Labels: test

Revert "reset conv_test.py to master"
  tests/tensorflow/conv_test.py
Labels: test

reset conv_test.py to master v2
  tests/tensorflow/conv_test.py
Labels: test

revert changes to master
  dace/codegen/targets/cuda.py
  samples/tensorflow/lenet.py
  samples/tensorflow/speedtest.py
Labels: codegen, samples

run default on cpu
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

little formatting
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Initial commit
  dace/transformation/dataflow/transient_reuse.py
  samples/simple/transients.py
Labels: transformations, samples

Match MapFission test to hardened transformation conditions
  tests/mapfission_test.py
Labels: test
