Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*

Add stages to Jenkinsfile
  Jenkinsfile
Labels: repo

Do not necessarily use docker
  Jenkinsfile
Labels: repo

Added Jenkinsfile
  Jenkinsfile
Labels: repo

Make build steps parallel
  Jenkinsfile
Labels: repo

SDFV: Hide sdfg attribute (as it is drawn)
  diode/webclient/sdfv.js
Labels: diode

Add ValueError to caught exceptions
  dace/graph/nodes.py
Labels: core

Rewrite MapFusion to use connectors and memlets instead of arrays
  dace/transformation/dataflow/map_fusion.py
Labels: transformations

Additional and harder tests for the MapFusion transformation
  tests/mapfusion_test.py
Labels: test

Port GitLab CI file into Jenkinsfile (#9)
  Jenkinsfile
Labels: repo

Remove printout
  dace/transformation/dataflow/map_fusion.py
Labels: transformations

StateFusion: Fix matching condition
  dace/graph/edges.py
  dace/transformation/interstate/state_fusion.py
Labels: core, transformations

Add Intel FPGA to Jenkinsfile
  Jenkinsfile
Labels: repo

Update attention_simple_test.py
  tests/numpy/attention_simple_test.py
Labels: test

Update attention_simple_test.py
  tests/numpy/attention_simple_test.py
Labels: test

Revert interstate edge label modification
  dace/graph/edges.py
Labels: core

Eliminate the (dangerous) use of sdfg_list in transformations
  dace/sdfg.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/optimizer.py
  dace/transformation/pattern_matching.py
  dace/transformation/testing.py
  diode/diode_server.py
  tests/multiprogram_cudatest.py
  tests/tiling_test.py
Labels: core, transformations, diode, test

MapFusion test: Always apply strict transformations before fusing
  tests/mapfusion_test.py
Labels: test

Code commented and revised
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Reverted changes to sdfg_list API
  dace/sdfg.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/optimizer.py
  dace/transformation/pattern_matching.py
  dace/transformation/testing.py
  diode/diode_server.py
  tests/multiprogram_cudatest.py
  tests/tiling_test.py
Labels: core, transformations, diode, test

Fix infinite loop
  tests/tiling_test.py
Labels: test

Do not combine two issues in one test
  tests/mapfusion_test.py
Labels: test

Unit test to illustrate problem of strict transformations after loading
  tests/strict_after_load_test.py
Labels: test

Fix loading nested SDFGs from json
  dace/graph/nodes.py
  dace/properties.py
  tests/strict_after_load_test.py
Labels: core, test

MapFusion: defer removal of nodes and edges such that memlet paths still work
  dace/transformation/dataflow/map_fusion.py
Labels: transformations

Renderer: Draw map and reduce labels adaptively when zoomed out
  diode/webclient/renderer_dir/global_vars.js
  diode/webclient/renderer_elements.js
Labels: diode

Renderer: Draw tasklet contents when close enough
  diode/webclient/renderer_dir/global_vars.js
  diode/webclient/renderer_elements.js
Labels: diode

Fix dagre-related bug with state machines
  diode/webclient/renderer_elements.js
Labels: diode

SDFV: Minor fix to property types
  diode/webclient/sdfg_utils.js
Labels: diode

Allow DIODE to directly open (and prettify) an SDFG file
  diode/webclient/diode.js
Labels: diode

Save types with SDFG constants. TODO: deserialize properly
  dace/frontend/python/newast.py
  dace/frontend/tensorflow/winograd.py
  dace/sdfg.py
  samples/fpga/filter_fpga_vectorized.py
  samples/sdfg_api/stencil_boundaries.py
  tests/constant_array_test.py
Labels: core, frontend, test, samples

Fix deserialization and code generation of constants with types
  dace/codegen/targets/framecode.py
  dace/sdfg.py
  dace/serialize.py
  samples/fpga/filter_fpga_vectorized.py
Labels: core, codegen, samples

Renderer: Fix touch-based interaction (dragging and zooming)
  diode/webclient/renderer.js
Labels: diode

Unique variable names
  dace/codegen/targets/cuda.py
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend, codegen

Clean constants API up
  dace/sdfg.py
Labels: core

Unique variable names and correct initialization
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

enable `add_constant` to override types
  dace/sdfg.py
Labels: core

DIODE: Use multiple processes while executing
  diode/diode_server.py
  diode/remote_execution.py
  diode/webclient/diode.js
Labels: diode

DIODE: Support lambda property
  diode/webclient/diode.js
Labels: diode

DIODE: Tab titles
  diode/webclient/diode.js
Labels: diode

DIODE: generated code is read-only
  diode/webclient/main.js
Labels: diode
