Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Subset.free_symbols uses actual symbol dictionary rather than strings
  dace/subsets.py
Labels: core

allow Subset.offset to accept lists of values
  dace/subsets.py
Labels: core

Move unsqueeze_memlet from InlineSDFG to helper API
  dace/transformation/helpers.py
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Add test for mapfission
  tests/mapfission_test.py
Labels: test

Add symbols to nested SDFG, offset memlets if "unsqueezed" dimensions exist
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Fix cases of non-array data descriptors
  dace/transformation/dataflow/map_fission.py
Labels: transformations

Update num_accesses in nested SDFG outer edges
  dace/transformation/dataflow/map_fission.py
Labels: transformations

correct error message
  dace/transformation/helpers.py
Labels: transformations

Add option to use existing input/output nodes in add_mapped_tasklet
  dace/sdfg.py
Labels: core

CMake edit
  dace/codegen/CMakeLists.txt
Labels: codegen

Changed cudnn_tasklet.py
  samples/sdfg_api/cudnn_tasklet.py
Labels: samples

if a target is already registered for CPU, use that as default instad of CPUCodegen
  dace/codegen/codegen.py
Labels: codegen

Delete label.yml
  .github/workflows/label.yml
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
