Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Make various dace enumerations extensible
  dace/codegen/targets/target.py
  dace/dtypes.py
Labels: core, codegen

newline
  dace/codegen/instrumentation/__init__.py
Labels: codegen

Allow registries to have arguments
  dace/registry.py
  tests/registry_test.py
Labels: core, test

Made registry parameters dictionaries instead of tuples
  dace/registry.py
  tests/registry_test.py
Labels: core, test

Move tensorflow-related transformation to the tensorflow frontend
  dace/frontend/tensorflow/tensorflow.py
  dace/frontend/tensorflow/transformations/__init__.py
  dace/frontend/tensorflow/transformations/redundant_array.py
  dace/transformation/dataflow/__init__.py
Labels: frontend, transformations

Use `dace.registry` for transformations
  dace/transformation/dataflow/copy_to_device.py
  dace/transformation/dataflow/double_buffering.py
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/dataflow/local_storage.py
  dace/transformation/dataflow/map_collapse.py
  dace/transformation/dataflow/map_expansion.py
  dace/transformation/dataflow/map_for_loop.py
  dace/transformation/dataflow/map_fusion.py
  dace/transformation/dataflow/map_interchange.py
  dace/transformation/dataflow/mapreduce.py
  dace/transformation/dataflow/merge_arrays.py
  dace/transformation/dataflow/mpi.py
  dace/transformation/dataflow/reduce_expansion.py
  dace/transformation/dataflow/redundant_array.py
  dace/transformation/dataflow/redundant_array_copying.py
  dace/transformation/dataflow/stream_transient.py
  dace/transformation/dataflow/strip_mining.py
  dace/transformation/dataflow/tiling.py
  dace/transformation/dataflow/vectorization.py
  dace/transformation/interstate/fpga_transform_sdfg.py
  dace/transformation/interstate/fpga_transform_state.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/interstate/sdfg_nesting.py
  dace/transformation/interstate/state_fusion.py
  dace/transformation/optimizer.py
  dace/transformation/pattern_matching.py
Labels: transformations

Make strict transformations decentralized
  dace/sdfg.py
  dace/transformation/dataflow/merge_arrays.py
  dace/transformation/dataflow/redundant_array.py
  dace/transformation/interstate/sdfg_nesting.py
  dace/transformation/interstate/state_fusion.py
  dace/transformation/pattern_matching.py
Labels: core, transformations

Make instrumentation providers extensible
  dace/codegen/codegen.py
  dace/codegen/instrumentation/__init__.py
  dace/codegen/instrumentation/cuda_events.py
  dace/codegen/instrumentation/papi.py
  dace/codegen/instrumentation/provider.py
  dace/codegen/instrumentation/timer.py
  dace/codegen/targets/framecode.py
Labels: codegen

Make code generators extensible with dace.registry
  dace/codegen/codegen.py
  dace/codegen/compiler.py
  dace/codegen/targets/__init__.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/framecode.py
  dace/codegen/targets/immaterial.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/mpi.py
  dace/codegen/targets/target.py
  dace/codegen/targets/xilinx.py
Labels: codegen

Use program name in `__dace_init/exit` calls
  dace/codegen/codegen.py
  dace/codegen/compiler.py
  dace/codegen/targets/framecode.py
Labels: codegen

Registry: Performance improvement returning extensions
  dace/registry.py
Labels: core

Make memlet propagation patterns extensible with dace.registry
  dace/graph/labeling.py
Labels: core

Organize dace.__init__ imports and add memlet propagation functions
  dace/__init__.py
Labels: core

Minor fixes to memlet propagation registries
  dace/graph/labeling.py
Labels: core

SDFV: Add array attributes to access node properties
  diode/webclient/sdfv.js
Labels: diode

Change JSON loading scheme to work top-down
  dace/graph/graph.py
  dace/serialize.py
Labels: core

Fix general json loading for lists
  dace/serialize.py
Labels: core

Don't fail validation on unexpanded library nodes; this should only fail code generation [Fixes #118]
  dace/graph/nodes.py
Labels: core

Remove frontend implementation functionality, which has been made obsolete by library nodes. Move matmul and transpose pure expansions into library nodes.
  dace/config_schema.yml
  dace/frontend/common/op_repository.py
  dace/frontend/python/newast.py
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
Labels: frontend, config

Change how DaCe libraries register themselves to be more Python module-like
  dace/config_schema.yml
  dace/frontend/python/newast.py
  dace/graph/nodes.py
  dace/library.py
  dacelibs/blas/__init__.py
  dacelibs/blas/blas.py
  dacelibs/blas/nodes/dot.py
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
Labels: core, frontend, config

Shadowed variable
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
Labels: none

Test MKL and pure SDFG expansions of matrix multiplication and transpose. OpenBLAS and cuBLAS do not work yet.
  tests/numpy/blas_implementation_test.py
Labels: test

Updated include test to new library structure
  tests/library/barlib/__init__.py
  tests/library/barlib/barlib.py
  tests/library/foolib/__init__.py
  tests/library/foolib/foolib.py
Labels: test

Temporarily purge non-working cuBLAS and OpenBLAS implementations
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
  tests/numpy/blas_implementation_test.py
Labels: test

Moved dace libraries into the main dace module
  dace/codegen/compiler.py
  dace/frontend/python/newast.py
  dace/libraries/__init__.py
  dace/libraries/blas/__init__.py
  dace/libraries/blas/environments/__init__.py
  dace/libraries/blas/environments/cublas.py
  dace/libraries/blas/environments/intel_mkl.py
  dace/libraries/blas/environments/openblas.py
  dace/libraries/blas/include/dace_blas.h
  dace/libraries/blas/include/dace_cublas.h
  dace/libraries/blas/nodes/__init__.py
  dace/libraries/blas/nodes/dot.py
  dace/libraries/blas/nodes/matmul.py
  dace/libraries/blas/nodes/transpose.py
  dace/library.py
  dace/transformation/dataflow/matrix_product_transpose.py
  tests/library/blas_dot_test.py
Labels: core, frontend, codegen, transformations, test

Half-precision type support for non-CUDA code
  dace/runtime/include/dace/types.h
Labels: codegen

Default implementations for certain code generator methods
  dace/codegen/targets/target.py
Labels: codegen

Python frontend: add the option to specify storage types in dace.programs
  dace/frontend/python/newast.py
Labels: frontend

This apparently fixes error
  dace/frontend/python/newast.py
Labels: frontend

Fix issue in storage and dace.ndarray
  dace/frontend/python/newast.py
Labels: frontend

Runtime: Move half definition to cuda interop
  dace/runtime/include/dace/cudainterop.h
  dace/runtime/include/dace/types.h
Labels: codegen

Runtime: half v2
  dace/runtime/include/dace/cudainterop.h
  dace/runtime/include/dace/types.h
Labels: codegen

InlineSDFG: Add global/init/exit code to top-level SDFG
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Ensure all global codes from nested SDFGs are emitted on code generation
  dace/codegen/targets/framecode.py
  dace/sdfg.py
Labels: core, codegen

Emit the right code for half on host code
  dace/dtypes.py
  dace/runtime/include/dace/types.h
Labels: core, codegen

Add code sample for customizing frontend and backend for NVIDIA Tensor Core support
  samples/customization/tensor_cores.py
Labels: samples

Remove sample from PR
  samples/customization/tensor_cores.py
Labels: samples

Add code sample for customizing frontend and backend for NVIDIA Tensor Core support
  samples/customization/tensor_cores.py
Labels: samples

Use transformation registry in new library-node-xform
  dace/transformation/dataflow/matrix_product_transpose.py
Labels: transformations

Comments
  dace/codegen/targets/intel_fpga.py
Labels: codegen

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
