Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

GPUTransform, CUDA codegen: fix handling of scalar inputs
  dace/codegen/targets/cuda.py
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: codegen, transformations

Always override symbol type when deserializing
  dace/sdfg.py
Labels: core

MapReduceFusion: Hardened conditions, fixed when unrelated dimensions exist
  dace/transformation/dataflow/mapreduce.py
  tests/mapreduce5_test.py
Labels: transformations, test

FPGATransformState: Fix recursive iteration over nodes using API
  dace/transformation/interstate/fpga_transform_state.py
Labels: transformations

Add stream support to GPUTransformLocalStorage
  dace/transformation/dataflow/gpu_transform_local_storage.py
Labels: transformations

FPGATransform*: Better matching conditions that reflect codegen
  dace/transformation/interstate/fpga_transform_sdfg.py
  dace/transformation/interstate/fpga_transform_state.py
Labels: transformations

Vectorization: fix w.r.t. empty memlets
  dace/transformation/dataflow/vectorization.py
  samples/simple/jacobi.py
Labels: transformations, samples

AccumulateTransient: Fix by using LocalStorage, types other than summation currently not supported
  dace/transformation/dataflow/local_storage.py
  dace/transformation/dataflow/stream_transient.py
Labels: transformations

AccumulateTransient: Emit warning in unsupported case
  dace/transformation/dataflow/stream_transient.py
Labels: transformations

Filter used symbols if belong to nested SDFG connectors
  dace/sdfg.py
Labels: core

nest subgraph: Support code->code edges
  dace/transformation/helpers.py
Labels: transformations

MapToForLoop: Support dynamic map range
  dace/transformation/dataflow/map_for_loop.py
Labels: transformations

New API: all_edges_recursive
  dace/sdfg.py
Labels: core

GPU/FPGA transform: harden match conditions
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/interstate/fpga_transform_state.py
Labels: transformations

MPITransform: Remove unnecessary piece of code
  dace/transformation/dataflow/mpi.py
Labels: transformations

GPUTransformLocalStorage: Subset ranges are inclusive
  dace/transformation/dataflow/gpu_transform_local_storage.py
Labels: transformations

OutLocalStorage: Mitigate mismatches (with WCR edges)
  dace/transformation/dataflow/local_storage.py
Labels: transformations

MPITransform: Harden match conditions
  dace/transformation/dataflow/mpi.py
Labels: transformations

Properly refactor dynamic map range detection/enumeration
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/sdfg.py
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/dataflow/map_collapse.py
  dace/transformation/dataflow/map_expansion.py
  dace/transformation/dataflow/map_for_loop.py
  dace/transformation/dataflow/map_interchange.py
  dace/transformation/dataflow/merge_arrays.py
  dace/transformation/dataflow/mpi.py
Labels: core, codegen, transformations

CUDA: Detect and fix dynamic block scheduling without block maps
  dace/codegen/targets/cuda.py
Labels: codegen

CUDA Codegen: switched dynamic range default to Sequential rather than dynamic scheduling
  dace/codegen/targets/cuda.py
Labels: codegen

SDFG symbols: fix detection of parent-scope dynamic map ranges
  dace/sdfg.py
Labels: core

Clean up wcr_cudatest using the transformation API
  tests/wcr_cudatest.py
Labels: test

Support Google Colab
  dace/jupyter.py
  dace/sdfg.py
Labels: core

Python frontend: Fix for memlets not in tasklets
  dace/frontend/python/newast.py
Labels: frontend

Python frontend: Fix for built-in functions in ranges detected as indirection
  dace/symbolic.py
Labels: core

MapToForLoop now returns the nested SDFG node and main state
  dace/transformation/dataflow/map_for_loop.py
Labels: transformations

Python frontend: Correct squeezed strides in most cases
  dace/frontend/python/newast.py
Labels: frontend

nest_subgraph_test: Force strict transformations on initial SDFG
  tests/nest_subgraph_test.py
Labels: test

squeeze_strides: add special case for scalars, turn exception into warning
  dace/frontend/python/newast.py
Labels: frontend

SDFG validation: better exception propagation
  dace/sdfg.py
Labels: core

Transformation helpers: Use more robust API for nested SDFG
  dace/transformation/helpers.py
Labels: transformations

DoubleBuffering: Clean up implementation and add sample
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/double_buffering.py
  dace/transformation/interstate/__init__.py
  dace/transformation/interstate/double_buffering.py
  tests/double_buffering_test.py
Labels: transformations, test

DoubleBuffering: Fix transformation expressions and minor test cleanup
  dace/transformation/dataflow/double_buffering.py
  tests/double_buffering_test.py
Labels: transformations, test

Codegen: handle case where subset is not well-defined
  dace/codegen/targets/cpu.py
Labels: codegen

GPUTransformMap/LocalStorage should not match when there is a stream output
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
Labels: transformations

Transformation tester: print exception contents by default
  dace/transformation/testing.py
Labels: transformations

Correct histogram sample for GPU usage
  samples/simple/histogram_declarative.py
Labels: samples

add_nested_sdfg: ignore deprecated argument in API
  dace/sdfg.py
Labels: core

CopyToDevice: Fix outdated API usage and harden conditions
  dace/transformation/dataflow/copy_to_device.py
Labels: transformations

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
