Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*

Add Scalar corner case for nested SDFG node validation
  dace/graph/nodes.py
Labels: core

StateFusion: Merged access nodes are annotated as read-write
  dace/transformation/interstate/state_fusion.py
Labels: transformations

Fixed location object Handled read from remote stream in read_expr
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/data.py
Labels: core, codegen

Clean up PAPI counter instrumentation provider, add CUDA event and PAPI test
  dace/codegen/instrumentation/papi.py
  tests/cuda_test.sh
Labels: codegen, test

fix CUDA instrumentation test
  tests/cuda_test.sh
Labels: test

PAPI counters: Fix minor issues with flushing and make test shorter
  dace/codegen/instrumentation/papi.py
  dace/runtime/include/dace/perf/papi.h
  tests/instrumentation_test.py
Labels: codegen, test

Make PAPI test even shorter
  tests/instrumentation_test.py
Labels: test

Change SDFG name to avoid duplicate loading (see Issue #10)
  tests/instrumentation_test.py
Labels: test

Show instrumentation report (if exists) in DIODE console
  diode/diode_server.py
Labels: diode

Update requirements.txt
  requirements.txt
Labels: repo

Add sample that uses instrumentation reports to tune memory layout
  samples/instrumentation/tuning.py
Labels: samples

Make reduce nodes aware of wcr_conflict
  dace/codegen/targets/cpu.py
Labels: codegen

CUDA codegen: fix treatment of toplevel arrays inside kernels
  dace/codegen/targets/cuda.py
Labels: codegen

Make pipeline entries/exists serializable/deserializable
  dace/codegen/targets/fpga.py
  dace/graph/nodes.py
Labels: core, codegen

Replaced remove boolean flag with a FPGA_Remote storage type
  dace/codegen/CMakeLists.txt
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/dtypes.py
Labels: core, codegen

Fix default schedule of Reduce nodes
  dace/codegen/targets/framecode.py
Labels: codegen

Don't emit instrumentation code if there are no instrumentation providers.
  dace/codegen/targets/framecode.py
Labels: codegen

Fix default schedule of nested SDFGs
  dace/codegen/targets/framecode.py
Labels: codegen

framecode: Fix merge issues with respect to generating headers and footers after env dependencies
  dace/codegen/targets/framecode.py
Labels: codegen

Allow test to skip missing/misconfigured libraries
  tests/library/blas_dot_test.py
Labels: test

Make test soft failure report a warning
  tests/library/blas_dot_test.py
Labels: test

New exception type for unexpanded nodes in compilation
  dace/codegen/targets/cpu.py
  dace/graph/nodes.py
  dace/sdfg.py
  diode/diode_server.py
Labels: core, codegen, diode

DIODE: Configuration for automatic expansion of library nodes
  dace/config_schema.yml
  diode/diode_server.py
Labels: config, diode

DIODE: Fix another control path to code generation with library nodes
  diode/DaceState.py
Labels: diode

Properly serialize/deserialize library nodes
  dace/graph/nodes.py
Labels: core

New property and DIODE drop-down list for library implementations
  dace/graph/nodes.py
  dace/properties.py
  diode/diode_server.py
  diode/webclient/diode.js
Labels: core, diode

Refine nested schedule condition
  dace/codegen/targets/framecode.py
Labels: codegen

Apply suggestions from code review
  dace/graph/nodes.py
  dace/transformation/dataflow/__init__.py
  dacelets/blas/nodes/matmul.py
Labels: core, transformations

Fix test*.sh default parameter and MPI test
  test_all.sh
  tests/cuda_test.sh
  tests/e2e_test.sh
  tests/fpga_polybench_test.sh
  tests/gemm_test.sh
  tests/intel_fpga_test.sh
  tests/mpi_test.sh
  tests/polybench_test.sh
  tests/xilinx_test.sh
Labels: repo, test

Fix schedules for nested SDFG nodes
  dace/codegen/targets/framecode.py
  dace/graph/nodes.py
Labels: core, codegen

CPU: fix reduce code generation w.r.t. offsets and strides
  dace/codegen/targets/cpu.py
  dace/subsets.py
  tests/reduce_offsets_test.py
  tests/reduce_strided_test.py
Labels: core, codegen, test

Codegen: Fix Reduce nodes when additional index offsets are not necessary
  dace/codegen/targets/cpu.py
  tests/reduce_offsets_test.py
Labels: codegen, test

DIODE: Server function for expanding a library node or SDFG
  diode/diode_server.py
Labels: diode

Remove unused decorator
  dace/graph/nodes.py
Labels: core

Rename back to dacelib
  dace/frontend/python/newast.py
  dace/library.py
  dace/transformation/dataflow/matrix_product_transpose.py
  dacelibs/__init__.py
  dacelibs/blas/__init__.py
  dacelibs/blas/blas.py
  dacelibs/blas/environments/__init__.py
  dacelibs/blas/environments/cublas.py
  dacelibs/blas/environments/intel_mkl.py
  dacelibs/blas/environments/openblas.py
  dacelibs/blas/include/dace_blas.h
  dacelibs/blas/include/dace_cublas.h
  dacelibs/blas/nodes/__init__.py
  dacelibs/blas/nodes/dot.py
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
  tests/library/blas_dot_test.py
Labels: core, frontend, transformations, test

DIODE: Expand button for individual library nodes
  diode/webclient/diode.js
  diode/webclient/main.js
Labels: diode

reformat diode.js
  diode/webclient/diode.js
Labels: diode

DIODE: Create expand button for library nodes
  diode/webclient/diode.js
Labels: diode

DIODE: Add "expand all library nodes" button
  diode/webclient/diode.js
Labels: diode

SDFV: Improve laying out connector edges w.r.t. edge tail and head
  diode/webclient/renderer.js
  diode/webclient/renderer_dir/dagre.js
Labels: diode
