Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

InlineSDFG will not work when output data (connectors) has outgoing dataflow
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Skeleton of CMake rules for SMI
  dace/codegen/CMakeLists.txt
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/sdfg.py
Labels: core, codegen

Changed target_name generation in dace_file.csv. Added SMI submodule
  dace/codegen/CMakeLists.txt
  dace/codegen/codegen.py
  dace/codegen/codeobject.py
  dace/codegen/compiler.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/mpi.py
  dace/codegen/targets/xilinx.py
Labels: codegen

Remove duplicate location property
  dace/graph/nodes.py
Labels: core

Fix MKL environment
  dacelibs/blas/environments/intel_mkl.py
Labels: none

Specify inputs and outputs from dot
  dacelibs/blas/nodes/dot.py
Labels: none

Implemented hierarchy of default implementations (node -> library -> system wide (BLAS only)).
  dace/config_schema.yml
  dace/graph/nodes.py
  dace/library.py
  dacelibs/blas/blas.py
  dacelibs/blas/nodes/matmul.py
Labels: core, config

Name change
  dace/frontend/python/newast.py
  dace/transformation/dataflow/matrix_product_transpose.py
  dacelets/__init__.py
  dacelets/blas/__init__.py
  dacelets/blas/blas.py
  dacelets/blas/environments/__init__.py
  dacelets/blas/environments/cublas.py
  dacelets/blas/environments/intel_mkl.py
  dacelets/blas/environments/openblas.py
  dacelets/blas/include/dace_blas.h
  dacelets/blas/include/dace_cublas.h
  dacelets/blas/nodes/__init__.py
  dacelets/blas/nodes/dot.py
  dacelets/blas/nodes/matmul.py
  dacelets/blas/nodes/transpose.py
  dacelibs/stencilflow/__init__.py
  dacelibs/stencilflow/stencilflow.py
  dacelibs/stencilflow/test/__init__.py
  dacelibs/stencilflow/test/serialize_stencil.py
  tests/library/blas_dot.py
Labels: frontend, transformations, test

Include/dependency test
  dace/library.py
  tests/library/barlib/__init__.py
  tests/library/barlib/barlib.py
  tests/library/blas_dot_test.py
  tests/library/foolib/__init__.py
  tests/library/foolib/foolib.py
  tests/library/include_test.py
Labels: core, test

Switch to modifiable python binary in tests
  test_all.sh
  tests/cuda_test.sh
  tests/e2e_test.sh
  tests/fpga_polybench_test.sh
  tests/gemm_test.sh
  tests/intel_fpga_test.sh
  tests/polybench_test.sh
  tests/xilinx_test.sh
Labels: repo, test

Add coverage tests to Travis CI
  .travis.yml
Labels: repo

Allow registering additional implementations to existing DaCe libraries
  dace/graph/nodes.py
  dace/library.py
Labels: core

Add coverage to test requirements
  .travis.yml
  Jenkinsfile
  setup.py
Labels: repo

Explicitly add coverage to dependencies
  .travis.yml
  Jenkinsfile
Labels: repo

CUDA test: make python binary call separately
  tests/cuda_test.sh
Labels: test

fix minor issue
  tests/cuda_test.sh
Labels: test

More fixes to coverage
  .travis.yml
  Jenkinsfile
Labels: repo

Fix path to coverage
  Jenkinsfile
Labels: repo

another fix
  tests/e2e_test.sh
  tests/gemm_test.sh
Labels: test

yet another fix
  Jenkinsfile
Labels: repo

Add codecov and Jenkins fix
  .travis.yml
  Jenkinsfile
Labels: repo

spelling mistake fix
  .travis.yml
  Jenkinsfile
Labels: repo

Coverage tests (#90)
  .travis.yml
  Jenkinsfile
  setup.py
  test_all.sh
  tests/cuda_test.sh
  tests/e2e_test.sh
  tests/fpga_polybench_test.sh
  tests/gemm_test.sh
  tests/intel_fpga_test.sh
  tests/polybench_test.sh
  tests/xilinx_test.sh
Labels: repo, test

Add coverage report configuration
  .coveragerc
Labels: repo

Add tensorflow test to Travis
  .travis.yml
Labels: repo

Omit files that cannot be tested
  .coveragerc
Labels: repo

Remove unused transformations
  dace/transformation/dataflow/fpga_transform.py
  dace/transformation/dataflow/map_dim_interchange.py
Labels: transformations

Fix e2e and xform tests
  tests/e2e_test.sh
Labels: test

Remove unused functions from nxutil
  dace/graph/nxutil.py
Labels: core

More cases for .coveragerc
  .coveragerc
Labels: repo

Fix syntax error for .coveragerc
  .coveragerc
Labels: repo

Update README.md
  README.md
Labels: repo

Force path to .coveragerc
  .coveragerc
  .travis.yml
  Jenkinsfile
Labels: repo

add codecov.yml
  codecov.yml
Labels: repo

DIODE: remove saved projects in favor of running from folder
  diode/webclient/diode.js
Labels: diode

Fix rendering SDFG property
  diode/webclient/diode.js
Labels: diode

DIODE: capture compilation failure events and do not update xform history
  diode/webclient/diode.js
Labels: diode

Make tests faster by disabling tensorflow in non-strict mode
  .travis.yml
Labels: repo

Make RGF dense an exhaustive test to speed up tests
  tests/numpy/rgf_exhaustivetest.py
Labels: test

add validation check to nested SDFGs
  dace/graph/nodes.py
Labels: core

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
