Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

remove test in favor of separate PR
  dace/frontend/python/parser.py
  tests/nested_symbol_test.py
Labels: frontend, test

Re-add nested symbol test
  tests/nested_symbol_test.py
Labels: test

more same paddings working
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Add symbol mapping dictionary property to NestedSDFG nodes
  dace/codegen/targets/cpu.py
  dace/frontend/python/newast.py
  dace/graph/nodes.py
  dace/sdfg.py
Labels: core, frontend, codegen

Fix redundant line
  dace/sdfg.py
Labels: core

Enable symbols to be inferred even if they share the same name
  dace/frontend/python/parser.py
Labels: frontend

Python frontend: Add loop iterator as an SDFG symbol
  dace/frontend/python/newast.py
Labels: frontend

Exclude connectors from undefined nested SDFG symbols
  dace/graph/nodes.py
Labels: core

Python: Default behavior for nested SDFG calling is same-symbol mapping
  dace/frontend/python/newast.py
Labels: frontend

Harden warning printing condition for symbol values
  dace/codegen/compiler.py
Labels: codegen

Remove ParamsProperty
  dace/graph/nodes.py
  dace/properties.py
Labels: core

Harden conditions for "unused properties" warning
  dace/sdfg.py
  dace/serialize.py
Labels: core

Make symbol_mapping a dictionary property
  dace/graph/nodes.py
  dace/properties.py
Labels: core

undefined symbols are now independent from parent SDFG symbols
  dace/sdfg.py
Labels: core

Add pipeline entry/exit to renderer
  diode/webclient/renderer_elements.js
Labels: diode

Fix bug causing transients to sometimes be allocated multiple times
  dace/codegen/targets/fpga.py
Labels: codegen

Don't take parent scope of top-level scope
  dace/sdfg.py
Labels: core

Fix list property's from_string method, update test to current API
  dace/properties.py
  tests/properties_test.py
Labels: core, test

Add symbols when loading SDFGs
  dace/sdfg.py
Labels: core

Revert "Add symbols when loading SDFGs"
  dace/sdfg.py
Labels: core

DictProperty: Enforce types upon setting value
  dace/properties.py
Labels: core

Python frontend: Fix pass-by-assignment for keyword arguments
  dace/frontend/python/newast.py
Labels: frontend

Python frontend: workaround to try to ensure transient names do not overlap
  dace/frontend/python/newast.py
Labels: frontend

Disable dynamic symbol test when strict transformations are disabled
  tests/nested_symbol_test.py
Labels: test

Python frontend: enable using iteration variables as scalar arguments
  dace/frontend/python/newast.py
Labels: frontend

Codegen: rely on memlet_path for code->code edges
  dace/codegen/targets/cpu.py
Labels: codegen

InlineSDFG: Support invocation symbol mapping
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

small changes and code cleaning
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Allow partial instantiation of symbols (+test)
  dace/frontend/python/astutils.py
  dace/frontend/python/newast.py
  tests/nested_symbol_partial_test.py
Labels: frontend, test

Fix local_inline_test
  tests/local_inline_test.py
Labels: test

Use __array_interface__ and __cuda_array_interface__ in calls to SDFG
  dace/codegen/compiler.py
Labels: codegen

Documentation
  dace/codegen/compiler.py
Labels: codegen

If library cannot be unloaded (e.g., due to RTLD_NODELETE), rename and reload
  dace/codegen/compiler.py
  tests/instrumentation_test.py
Labels: codegen, test

Test that was once failing should pass now
  tests/lib_reuse_test.py
Labels: test

Fix test for systems that lock loaded library files (Windows)
  tests/lib_reuse_test.py
Labels: test

rechangend inputpadding
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

little changes and custom conv_test
  dace/frontend/tensorflow/tensorflow.py
  tests/tensorflow/conv_test.py
Labels: frontend, test

Make SDFV sidebar resizable
  diode/sdfv.html
  diode/webclient/sdfv.css
  diode/webclient/sdfv.js
Labels: diode

Add subclass registry, extensible enumerations, and dependency on aenum
  dace/registry.py
  requirements.txt
  setup.py
  tests/registry_test.py
Labels: repo, core, test

Use advanced enum instead of enum
  dace/codegen/targets/target.py
  dace/dtypes.py
  dace/graph/edges.py
  dace/properties.py
  dace/serialize.py
  diode/diode_server.py
Labels: core, codegen, diode

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
