Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

New API to remove both an edge and its associated connectors
  dace/sdfg.py
Labels: core

New version of InlineSDFG
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Python frontend: remove memlets from tasklet code in SDFG
  dace/frontend/python/newast.py
Labels: frontend

InlineSDFG: Do not ignore node order when adding to top-level graph
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

correct inlining_test
  tests/inlining_test.py
Labels: test

Python frontend: if argument is a Scalar, do not replace in nested SDFG
  dace/frontend/python/newast.py
Labels: frontend

New implementation of memlet_tree, returning an actual tree
  dace/memlet.py
  dace/sdfg.py
  dace/transformation/interstate/sdfg_nesting.py
Labels: core, transformations

Fix memlet tree traversal
  dace/memlet.py
Labels: core

Fix LocalStorage matching criterion
  dace/transformation/dataflow/local_storage.py
Labels: transformations

Fix test
  tests/toplevel_interstate_test.py
Labels: test

Fix return value of memlet tree
  dace/sdfg.py
Labels: core

InlineSDFG: Add code->code edge transients
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

InlineSDFG: Transform all edges around non-source/sink access nodes
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

InlineSDFG: Fix minor API issue and remove old implementation
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

xform_test.sh: Add potential arguments
  tests/xform_test.sh
Labels: test

Simplified GPUTransformMap to use GPUTransformSDFG
  dace/transformation/dataflow/gpu_transform.py
Labels: transformations

FPGA codegen: support Reduce with axes=None
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
Labels: codegen

chmod xform_test.sh
  tests/xform_test.sh
Labels: test

GPU transformations: respect `fullcopy` property
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/helpers.py
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

GPUTransformMap: Add properties
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

InlineSDFG: more focused replacement in subgraph
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Fix minor issue in nest subgraph with full data
  dace/transformation/helpers.py
Labels: transformations

Xilinx codegen: Vitis directory is not essential for code generation, only compilation
  dace/codegen/targets/xilinx.py
Labels: codegen

cppunparse: Add infer_type to with
  dace/codegen/cppunparse.py
Labels: codegen

add_memlet_path: do not remove existing edges
  dace/sdfg.py
Labels: core

SDFG API: scope_dict can run without validation for malformed graphs
  dace/sdfg.py
Labels: core

Codegen: treat nested maps with empty memlets properly
  dace/codegen/targets/cpu.py
Labels: codegen

Memlet propagation: do not propagate empty memlets
  dace/graph/labeling.py
Labels: core

add_memlet_path/fill_scope_connectors: Handle empty memlets better
  dace/sdfg.py
Labels: core

MapExpansion: Rewrite to be more robust, add test case
  dace/transformation/dataflow/map_expansion.py
  tests/expansion_dynamic_range_test.py
Labels: transformations, test

Revert naming convention change
  dace/transformation/helpers.py
Labels: transformations

ToDevice transformations: Explicitly not match if consume scopes exist
  dace/transformation/interstate/fpga_transform_sdfg.py
  dace/transformation/interstate/fpga_transform_state.py
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

MapCollapse: add dynamic ranges into match condition
  dace/transformation/dataflow/map_collapse.py
Labels: transformations

MapCollapse/MapInterchange: Stronger matching conditions
  dace/transformation/dataflow/map_collapse.py
  dace/transformation/dataflow/map_interchange.py
Labels: transformations

Fix StripMining and MapTiling in cases of empty memlets
  dace/graph/nxutil.py
  dace/transformation/dataflow/strip_mining.py
Labels: core, transformations

change order of drawing dots (deprecated) and saving
  dace/transformation/optimizer.py
Labels: transformations

Repetitive MapTiling/StripMining now creates new map params if clashing
  dace/transformation/dataflow/strip_mining.py
Labels: transformations

Add test for repeated tiling
  tests/tile_twice_test.py
Labels: test

Update transformation API to include properties and types
  dace/sdfg.py
  dace/transformation/optimizer.py
  dace/transformation/pattern_matching.py
Labels: core, transformations

Add test for GPUTransform with scalar inputs
  tests/cuda_test.sh
Labels: test

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
