Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Renderer: workaround for straight multigraph edges - use straight lines
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
Labels: diode

Allow indirecting properties in inheriting class
  dace/codegen/targets/fpga.py
  dace/properties.py
Labels: core, codegen

Changed format detection
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Fix header/footer global code generation
  dace/codegen/targets/framecode.py
Labels: codegen

Codegen: fix indentation and instrumentation
  dace/codegen/targets/framecode.py
Labels: codegen

RedundantArray: harden conditions in strict mode
  dace/transformation/dataflow/redundant_array.py
Labels: transformations

Do not perform a second round of strict xforms automatically
  dace/sdfg.py
Labels: core

properly re-raise "cannot find compiler executable" exceptions
  dace/codegen/compiler.py
Labels: codegen

Fixed Intel FPGA call to framecode.generate_code
  dace/codegen/targets/framecode.py
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Changed augmented assigments to use wcr instead of having the output as input.
  dace/frontend/python/newast.py
Labels: frontend

RedundantArrayInverse: When modifying the memlet tree, if the memlet data is not the same as the data of the access node to be removed, but the memlet has other_subset, then other_subset is modified.
  dace/transformation/dataflow/redundant_array.py
Labels: transformations

WCR of out_memlet is now set after out_memlet is created.
  dace/frontend/python/newast.py
Labels: frontend

NCHW now working for VALID and EXPLICIT padding
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Remove static symbol storage and deprecate symbol.set/get
  dace/codegen/instrumentation/papi.py
  dace/sdfg.py
  dace/symbolic.py
Labels: core, codegen

Infer symbols from array shapes (in @dace.programs) implicitly
  dace/frontend/python/parser.py
  tests/symbol_inference_test.py
Labels: frontend, test

Fix various corner cases (callbacks, no symbols)
  dace/codegen/compiler.py
  dace/dtypes.py
  dace/frontend/python/parser.py
Labels: core, frontend, codegen

Properly copy symbols with their new object values
  dace/symbolic.py
Labels: core

Remove now-unnecessary symbol inference phase from compiled SDFGs
  dace/codegen/compiler.py
Labels: codegen

Remove dace.eval
  dace/__init__.py
  dace/codegen/compiler.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/data.py
  dace/frontend/python/wrappers.py
  dace/symbolic.py
  samples/fpga/gemm_fpga_pipelined.py
  samples/fpga/gemv_transposed_fpga.py
  samples/fpga/histogram_fpga.py
  samples/fpga/histogram_fpga_parallel.py
  samples/fpga/jacobi_fpga_stream.py
  samples/fpga/jacobi_fpga_systolic.py
  samples/graph/bfs_bsp.py
  samples/simple/axpy.py
  samples/simple/gemm.py
  samples/simple/histogram.py
  samples/simple/histogram_declarative.py
  samples/simple/jacobi.py
  samples/simple/mat_add.py
  samples/simple/transpose.py
  tests/constant_array_test.py
  tests/copynd_test.py
  tests/cuda_highdim_kernel_test.py
  tests/intel_fpga/type_inference.py
  tests/intel_fpga/vec_sum.py
  tests/intel_fpga/vector_reduce.py
  tests/mapreduce3_test.py
  tests/mapreduce4_test.py
  tests/mapreduce6_test.py
  tests/nested_sdfg_python_test.py
  tests/nested_sdfg_test.py
  tests/numpy/map_syntax_test.py
  tests/specialize_test.py
  tests/tile_test.py
  tests/tiling_test.py
Labels: core, frontend, codegen, test, samples

Remove instance of symbol.erase_all()
  diode/DaceState.py
Labels: diode

Correct shapes in test
  tests/mapreduce3_test.py
Labels: test

Fix polybench tests
  samples/polybench/polybench.py
Labels: samples

Workaround for symbol type in FPGA codegen
  dace/codegen/targets/fpga.py
Labels: codegen

Fix seidel-2d polybench sample
  samples/polybench/seidel-2d.py
Labels: samples

Further tune FPGA workaround
  dace/codegen/targets/fpga.py
Labels: codegen

Simple test and minor cleanup
  dace/sdfg.py
  tests/implicit_sdfg_test.py
Labels: core, test

Add test with desired nested symbol API functionality
  tests/nested_symbol_test.py
Labels: test

Change specialize syntax to be explicit (rather than relying on global symbols)
  dace/frontend/python/parser.py
  dace/sdfg.py
  samples/fpga/filter_fpga.py
  samples/fpga/filter_fpga_vectorized.py
  samples/fpga/gemm_fpga_pipelined.py
  samples/fpga/gemm_fpga_stream.py
  samples/fpga/gemm_fpga_systolic.py
  samples/fpga/gemv_transposed_fpga.py
  samples/fpga/histogram_fpga.py
  samples/fpga/histogram_fpga_parallel.py
  samples/fpga/jacobi_fpga_stream.py
  samples/fpga/jacobi_fpga_systolic.py
  samples/fpga/spmv_fpga.py
  samples/fpga/spmv_fpga_stream.py
  samples/polybench/polybench.py
  tests/intel_fpga/simple_systolic_array.py
  tests/specialize_test.py
Labels: core, frontend, test, samples

Fix specialization of histogram FPGA samples
  samples/fpga/histogram_fpga.py
  samples/fpga/histogram_fpga_parallel.py
Labels: samples

Fix polybench specialization
  samples/polybench/polybench.py
Labels: samples

Python frontend: Allow constant values to be passed to other dace.programs
  dace/frontend/python/newast.py
Labels: frontend

New evaluate function for expressions with constants/specialized values
  dace/symbolic.py
  tests/copynd_test.py
Labels: core, test

Use specialized evaluation in FPGA codegen
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Python frontend: Minor fixes for nested SDFG name shadowing
  dace/frontend/python/newast.py
Labels: frontend

Python frontend: Allow nested SDFG calls to use keyword arguments
  dace/frontend/python/newast.py
Labels: frontend

Python frontend: Handle scalar inputs to nested SDFG calls
  dace/frontend/python/newast.py
Labels: frontend

disable validation test due to robustness of codegen
  dace/sdfg.py
Labels: core

Correct issues with calling SDFGs, disable memlet test.
  dace/frontend/python/newast.py
  tests/memlet_lifetime_validation_test.py
Labels: frontend, test

Handle SymExpr in evaluate
  dace/symbolic.py
Labels: core

UPD Cmake list
  dace/codegen/CMakeLists.txt
Labels: codegen

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
