Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*

Serialize constant types (#65)
  dace/codegen/targets/framecode.py
  dace/frontend/python/newast.py
  dace/frontend/tensorflow/winograd.py
  dace/sdfg.py
  dace/serialize.py
  samples/fpga/filter_fpga_vectorized.py
  samples/sdfg_api/stencil_boundaries.py
  tests/constant_array_test.py
Labels: core, frontend, codegen, test, samples

Use framecode's constant generation from Intel FPGA codegen
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Allow DIODE to directly open (and prettify) an SDFG file (#64)
  diode/webclient/diode.js
Labels: diode

DIODE: Use multiple processes while executing (#67)
  diode/diode_server.py
  diode/remote_execution.py
  diode/webclient/diode.js
Labels: diode

Don't silence error, even though it's expected, as this makes debugging Jenkins builds very painful
  tests/intel_fpga_test.sh
Labels: test

Do not save generated code files unless they changed (speeds up build time)
  dace/codegen/compiler.py
Labels: codegen

Invert function name
  dace/codegen/compiler.py
Labels: codegen

Do not save generated code files unless they changed (#68, speeds up build times)
  dace/codegen/compiler.py
Labels: codegen

Added speedtest and small changes
  samples/tensorflow/speedtest.py
Labels: samples

Revert "Added speedtest and small changes"
  samples/tensorflow/speedtest.py
Labels: samples

Revert "Revert "Added speedtest and small changes""
  samples/tensorflow/speedtest.py
Labels: samples

small changes
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

Attempt to fix sporadic issue with concurrent tests
  dace/config.py
Labels: core

Remove outdated Gitlab CI file
  .gitlab-ci.yml
Labels: repo

better exit code
  dace/frontend/tensorflow/tensorflow.py
Labels: frontend

changed speedtest
  samples/tensorflow/speedtest.py
Labels: samples

Translates Python 'pass' to C++ ';'.
  dace/codegen/cppunparse.py
Labels: codegen

Fix minor bug when retrying CMake
  dace/codegen/compiler.py
Labels: codegen

Update README.md
  README.md
Labels: repo

Remove explicit javascript dependencies from Jupyter notebooks
  tutorials/explicit.ipynb
  tutorials/numpy_frontend.ipynb
Labels: none

WCR CUDA test
  tests/cuda_test.sh
  tests/wcr_cudatest.py
Labels: test

Create a test for an InlineSDFG issue
  tests/inline_external_edges_test.py
Labels: test

FPGATransformState: Fix usage of unassigned value
  dace/transformation/interstate/fpga_transform_state.py
  tests/inline_external_edges_test.py
Labels: transformations, test

Run yapf on numpy interface tests
  tests/numpy/rowwise_assign_test.py
  tests/numpy/subarray_assignment_test.py
  tests/numpy/subarray_in_nested_call_test.py
Labels: test

Renderer: Fix y-offset of tasklet code
  diode/webclient/renderer_elements.js
Labels: diode

Hide outdated FPGATransformMap
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/fpga_transform.py
Labels: transformations

API for robust transformations and frontends: Find new name when adding array/stream/transient
  dace/codegen/targets/cpu.py
  dace/frontend/common/op_impl.py
  dace/frontend/python/newast.py
  dace/sdfg.py
  dace/transformation/dataflow/copy_to_device.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/dataflow/map_for_loop.py
  dace/transformation/dataflow/mapreduce.py
  dace/transformation/dataflow/stream_transient.py
  dace/transformation/interstate/double_buffering.py
Labels: core, frontend, codegen, transformations

LocalStorage: Refactored into one class with new API
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/local_storage.py
  dace/transformation/dataflow/stream_transient.py
Labels: transformations

MPITransformMap now uses new LocalStorage interface
  dace/transformation/dataflow/mpi.py
Labels: transformations

Add another test for InlineSDFG
  .gitignore
  tests/inline_nonsink_access_test.py
Labels: repo, test

update API in tests
  tests/multistream_copy_cudatest.py
  tests/properties_test.py
  tests/tiling_test.py
Labels: test

add_temp_transient API fix
  dace/sdfg.py
Labels: core

Fix GPUTransformSDFG to change reduction schedules
  dace/transformation/interstate/gpu_transform_sdfg.py
  tests/wcr_cudatest.py
Labels: transformations, test

Transformation helper API function: Turn a subgraph into a nested SDFG
  dace/graph/graph.py
  dace/sdfg.py
  dace/transformation/helpers.py
  tests/nest_subgraph_test.py
Labels: core, transformations, test

Nest subgraph: documentation and test cleanup
  dace/transformation/helpers.py
  tests/nest_subgraph_test.py
Labels: transformations, test

MapToForLoop: Rewrite in a simpler and more robust manner
  dace/transformation/dataflow/map_for_loop.py
  dace/transformation/dataflow/mpi.py
Labels: transformations

Add transformation tests for all simple examples (e2e_test)
  dace/transformation/testing.py
  tests/e2e_test.sh
  tests/xform_test.sh
Labels: transformations, test

MapToForLoop: Fix incrementation expression
  dace/transformation/dataflow/map_for_loop.py
Labels: transformations

Make InlineSDFG test more accurate
  tests/inline_external_edges_test.py
Labels: test

Clean printout if no strict transformations were applied
  dace/sdfg.py
Labels: core
