Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Serialization: exit nodes may have lower IDs than entry nodes
  dace/graph/nodes.py
Labels: core

GPUTransformSDFG: Harden conditions
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

nest_state_subgraph: Modify nested SDFGs parents in subgraph
  dace/transformation/helpers.py
Labels: transformations

CUDA codegen: proper support for dynamic map range kernels
  dace/codegen/targets/cuda.py
Labels: codegen

GPUTransformSDFG: proper support for dynamic map range kernels
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

CUDA codegen: better support for code->code memlets (duplicate from cpu codegen)
  dace/codegen/targets/cuda.py
Labels: codegen

CopyToDevice: Harden conditions
  dace/transformation/dataflow/copy_to_device.py
Labels: transformations

DIODE: Fix paths and execute programs on Windows
  diode/diode_server.py
  diode/remote_execution.py
Labels: diode

DIODE: Fix multi-process transfer of SDFGs using JSON
  diode/DaceState.py
  diode/remote_execution.py
Labels: diode

Segmented reduce
  dace/codegen/targets/cuda.py
  dace/runtime/include/dace/reduction.h
Labels: codegen

Fix axes=None case in reduce on GPU
  dace/codegen/targets/cuda.py
Labels: codegen

Fix reduce nodes not synchronizing on GPU streams
  dace/codegen/targets/cuda.py
Labels: codegen

GPUTransformSDFG: Make transformation deterministic
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

Remove access order property from arrays
  dace/codegen/targets/cpu.py
  dace/codegen/targets/immaterial.py
  dace/data.py
  dace/frontend/common/op_impl.py
  dace/sdfg.py
  dace/transformation/dataflow/fpga_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/interstate/fpga_transform_state.py
  diode/webclient/diode.js
Labels: core, frontend, codegen, transformations, diode

Remove duplication from PAPI instrumentation and CPU codegen
  dace/codegen/instrumentation/papi.py
  dace/codegen/targets/common.py
  dace/codegen/targets/cpu.py
Labels: codegen

DIODE: Make executor mode operate with a flag
  diode/diode_server.py
Labels: diode

Stride property now indicates element strides, add total_size property
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/immaterial.py
  dace/data.py
  dace/frontend/common/op_impl.py
  dace/sdfg.py
  dace/subsets.py
  tests/offset_stride_test.py
Labels: core, frontend, codegen, test

Type fixes for `total_size` in code generators
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
Labels: codegen

frontend: Squeeze strides properly between programs, add test
  dace/frontend/python/newast.py
  tests/nested_strides_test.py
Labels: frontend, test

Add three nested sub-range tests
  tests/numpy/nested_subrange_test.py
Labels: test

Update to use new stride definition
  dace/frontend/python/newast.py
  dace/transformation/dataflow/double_buffering.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/interstate/fpga_transform_state.py
Labels: frontend, transformations

codegen: further adaptation to new strides
  dace/codegen/targets/cpu.py
Labels: codegen

Codegen: Re-added second condition for degenerate 1D copy and simplify expressions
  dace/codegen/targets/cpu.py
Labels: codegen

Codegen: Ensure expressions are symbolic
  dace/codegen/targets/cpu.py
Labels: codegen

Comments from review
  dace/graph/nodes.py
  dace/memlet.py
Labels: core

Rerun Jupyter notebooks
  tutorials/explicit.ipynb
  tutorials/numpy_frontend.ipynb
  tutorials/sdfg_api.ipynb
  tutorials/transformations.ipynb
Labels: none

Bump version to 0.9.5
  setup.py
Labels: repo

Bump version to 0.9.5
  doc/conf.py
Labels: none

Update year
  LICENSE
Labels: repo

Fix pytest failures
  tests/cppunparse_test.py
  tests/external_module_test.py
  tests/global_resolver_test.py
  tests/reduction_detection_test.py
  tests/tasklet_test.py
  tests/tensorflow/callback_test.py
  tests/tensorflow/conv_test.py
  tests/tensorflow/conv_test_exhaustive.py
  tests/tensorflow/fbn_test.py
  tests/tensorflow/math_test.py
  tests/tensorflow/pool_test.py
  tests/tensorflow/shapen_test.py
  tests/tensorflow/slice_test.py
  tests/tensorflow/tfmath_test.py
  tests/tensorflow/tfslice_test.py
Labels: test

Adds missing parameter to function '_Tuple(..)'.
  dace/codegen/cppunparse.py
Labels: codegen

Added SMI submodule
  .gitmodules
Labels: repo

CPU code generator now avoids stack Variable-Length Arrays when size is symbolic
  dace/codegen/targets/cpu.py
Labels: codegen

Fix "_Constant() got an unexpected keyword argument 'infer_type'"
  dace/codegen/cppunparse.py
Labels: codegen

Emit a warning in case of a VLA detection
  dace/codegen/targets/cpu.py
Labels: codegen

Add test for VLA allocation
  tests/vla_test.py
Labels: test

Changed location property from str to dict
  dace/data.py
Labels: core

Enables choosing to propagates labels only when needed.
  dace/sdfg.py
Labels: core

cppunparse: Fix writing `_Constant`/`_Bytes` with the wrong string quotes
  dace/codegen/cppunparse.py
Labels: codegen

Python frontend: Fix bug in parsing iterators with symbolic expressions
  dace/frontend/python/newast.py
Labels: frontend

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
