Repository spcl/dace, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, frontend, codegen, transformations, external, config, diode, test, samples

Fix issue with dependencies of nested SDFGs inside for scopes
  dace/frontend/python/newast.py
Labels: frontend

codegen: Do not assign elements directly if they are not scalars
  dace/codegen/targets/cpu.py
Labels: codegen

pytest compatibility
  tests/numpy/element_assignment_test.py
  tests/numpy/nested_subrange_test.py
  tests/numpy/subarray_assignment_test.py
Labels: test

Generation of SMI host functions
  dace/codegen/CMakeLists.txt
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/runtime/include/dace/intel_fpga/smi.h
Labels: codegen

Python frontend: Fix subsets of subsets and slicing operations in nested scopes
  dace/frontend/python/newast.py
  dace/transformation/dataflow/redundant_array.py
  tests/numpy/assign_in_map_test.py
  tests/numpy/nested_subrange_test.py
Labels: frontend, transformations, test

InlineSDFG: amend condition
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Python frontend: Amended condition for creating reference nodes in nested SDFGs to support subsets of expressions
  dace/frontend/python/newast.py
Labels: frontend

InlineSDFG: Amend conditions for unsqueezing and matching, more subrange tests
  dace/transformation/interstate/sdfg_nesting.py
  tests/numpy/nested_subrange_test.py
Labels: transformations, test

Fix missing token
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

Fixed host calls
  dace/codegen/CMakeLists.txt
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Added to ProgramVisitor.defined entries for the values of the ProgramVisitor.variables dictionary, assuming that those exist in the arrays of ProgramVisitor.sdfg.
  dace/frontend/python/newast.py
Labels: frontend

Keyword arguments of SDFG objects being called inside a DaCe program are added to the ProgramVisitor.variables of the calling DaCe program.
  dace/frontend/python/newast.py
Labels: frontend

The argument dictionary for nested calls to DaCe program and SDFGs is now created again from the arrays of the generated SDGFs.
  dace/frontend/python/newast.py
Labels: frontend

Rewrite MapReduceFusion to only use Reduce nodes, introduce MapWCRFusion
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/map_collapse.py
  dace/transformation/dataflow/mapreduce.py
  tests/mapreduce6_test.py
Labels: transformations, test

Fixed loop range causing oob access on array b.
  tests/numpy/assign_in_map_test.py
Labels: test

Remove map.is_async property
  dace/graph/nodes.py
  dace/sdfg.py
  dace/transformation/dataflow/mapreduce.py
Labels: core, transformations

Rename AccessNode.debuginfo2 to debuginfo
  dace/graph/nodes.py
Labels: core

Rename Reduce.wcr_identity to identity
  dace/graph/nodes.py
  dace/sdfg.py
  tests/wcr_cudatest.py
Labels: core, test

Fixed loop causing oob access on array b.
  tests/numpy/rowwise_assign_test.py
Labels: test

Add PAPI to Travis
  .travis.yml
Labels: repo

PAPI: rename namespace, support for memory fences on Windows
  dace/codegen/instrumentation/papi.py
  dace/runtime/include/dace/perf/papi.h
Labels: codegen

Add instrumentation report C++ class
  dace/runtime/include/dace/dace.h
  dace/runtime/include/dace/perf/reporting.h
Labels: codegen

Make dace::perf::Report thread-safe
  dace/runtime/include/dace/perf/reporting.h
Labels: codegen

Codegen: Header and footer for instrumentation reports
  dace/codegen/compiler.py
  dace/codegen/instrumentation/papi.py
  dace/codegen/targets/framecode.py
  dace/frontend/python/parser.py
  dace/runtime/include/dace/perf/reporting.h
Labels: frontend, codegen

Add stronger typing for some SDFG methods, `all_*_recursive()` creates generators
  dace/sdfg.py
Labels: core

SDFG: Instrumentation inspection API and Python class for report
  dace/codegen/instrumentation/__init__.py
  dace/codegen/instrumentation/report.py
  dace/sdfg.py
Labels: core, codegen

Use methods instead of convenience functions to avoid linkage errors
  dace/codegen/targets/framecode.py
  dace/runtime/include/dace/perf/reporting.h
Labels: codegen

Instrumentation: Use reports for Timer and CUDA Events, add test
  dace/codegen/instrumentation/cuda_events.py
  dace/codegen/instrumentation/report.py
  dace/codegen/instrumentation/timer.py
  tests/instrumentation_test.py
Labels: codegen, test

Ranks and port in location property
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Cleanup
  dace/codegen/targets/intel_fpga.py
Labels: codegen

Instrumentation/DIODE: Use standard functionality, handle other filenames
  dace/codegen/instrumentation/report.py
  dace/graph/nodes.py
  dace/sdfg.py
  diode/remote_execution.py
Labels: core, codegen, diode

Clean up PAPI instrumentation provider
  dace/codegen/instrumentation/papi.py
  dace/codegen/instrumentation/perfdb.py
  dace/codegen/instrumentation/provider.py
  dace/config_schema.yml
  diode/db_scripts/__init__.py
  diode/db_scripts/db_setup.py
  diode/db_scripts/sql_to_json.py
  diode/db_scripts/sql_to_json_test.py
  diode/diode_server.py
  diode/remote_execution.py
  tests/instrumentation_test.py
Labels: codegen, config, diode, test

Fix DIODE imports
  diode/adjust_settings.py
  diode/diode_server.py
  diode/remote_execution.py
Labels: diode

Coverage tweaks
  .coveragerc
  dace/codegen/instrumentation/timer.py
  dace/frontend/python/decorators.py
Labels: repo, frontend, codegen

Remove deprecated simulator
  dace/__init__.py
  dace/frontend/python/astnodes.py
  dace/frontend/python/astutils.py
  dace/frontend/python/simulator.py
Labels: core, frontend

Revert minor change
  dace/codegen/instrumentation/timer.py
Labels: codegen

Update codecov.yml
  codecov.yml
Labels: repo

Cleanup PAPI runtime component
  dace/codegen/instrumentation/papi.py
  dace/runtime/include/dace/perf/papi.h
Labels: codegen

Remove unnecessary PAPI fields from graph
  dace/codegen/targets/target.py
  dace/graph/graph.py
  dace/sdfg.py
Labels: core, codegen

Fix stream names in FPGA samples
  samples/fpga/filter_fpga.py
  samples/fpga/spmv_fpga_stream.py
Labels: samples

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

core:
  - dace/*.py
  - dace/graph/*

frontend:
  - dace/frontend/**/*
  
codegen:
  - dace/codegen/**/*
  - dace/runtime/**/*
  
transformations:
  - dace/transformation/**/*
  
external:
  - dace/external/**/*
  
config:
  - dace/*.yml

# Add '@domain/core' label to any change within the 'core' package
diode:
  - diode/**/*

test:
  - tests/**/*
  
samples:
  - samples/**/*
