Repository spcl/dace, pull requests merged in 2019-11, with the labels that each got.

#32 Issue with input parameter of frontend operations being a list and not a string
  dace/frontend/python/newast.py
  dace/subsets.py
Labels: core, frontend

#37 Fix issue #33
  dace/codegen/compiler.py
  tests/erroneous_lib_use_test.py
Labels: codegen, test

#39 Fix DIODE properties (Fixes part of issue #25)
  dace/dtypes.py
  dace/properties.py
  dace/sdfg.py
  dace/serialize.py
  diode/webclient/diode.js
Labels: core, diode

#27 WIP: Assortment of transformation fixes
  dace/frontend/python/newast.py
  dace/properties.py
  dace/sdfg.py
  dace/subsets.py
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/fpga_transform.py
  dace/transformation/dataflow/merge_arrays.py
  dace/transformation/dataflow/stream_transient.py
  dace/transformation/dataflow/strip_mining.py
  dace/transformation/dataflow/tiling.py
  dace/transformation/dataflow/vectorization.py
  dace/transformation/pattern_matching.py
  diode/webclient/renderer_dir/parallelization_button.js
  samples/simple/jacobi.py
  tests/tiling_test.py
  tutorials/explicit.ipynb
  tutorials/sdfg_api.ipynb
  tutorials/transformations.ipynb
Labels: core, diode, frontend, samples, test, transformations

#35 Better support for map dynamic range connectors
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/mpi.py
  dace/codegen/targets/xilinx.py
  dace/frontend/python/newast.py
  dace/graph/labeling.py
  dace/sdfg.py
  dace/transformation/interstate/sdfg_nesting.py
  tests/map_indirect_array_test.py
Labels: codegen, core, frontend, test, transformations
