Repository spcl/dace, pull requests merged in 2019-12, with the labels that each got.

#54 CPPUnparse: Add support for Python 3.8's Constant AST node
  dace/codegen/cppunparse.py
Labels: codegen

#40 WIP: Fix for default properties (fixes second part of #25)
  dace/codegen/codeobject.py
  dace/data.py
  dace/graph/edges.py
  dace/graph/nodes.py
  dace/memlet.py
  dace/properties.py
  dace/serialize.py
  dace/transformation/pattern_matching.py
  diode/diode_server.py
Labels: codegen, core, diode, transformations

#55 Output floor division properly (fixes Issue #49)
  dace/symbolic.py
  tests/unparse_memlet_test.py
Labels: core, test

#56 Callableprog
  dace/codegen/codegen.py
  dace/codegen/compiler.py
Labels: codegen

#58 Renderer Improvements
  diode/sdfv.html
  diode/sdfv.py
  diode/templates/sdfv.html
  diode/webclient/renderer.js
  diode/webclient/renderer_dir/global_vars.js
  diode/webclient/renderer_elements.js
  diode/webclient/sdfv.css
Labels: diode

#61 SDFV renderer improvements v2
  diode/sdfv.html
  diode/templates/sdfv.html
  diode/webclient/diode.js
  diode/webclient/sdfg_utils.js
  diode/webclient/sdfv.js
Labels: diode

#44 Fix propagated connectors
  dace/codegen/targets/cpu.py
  dace/frontend/python/newast.py
  dace/sdfg.py
  dace/subsets.py
  dace/transformation/interstate/sdfg_nesting.py
  dace/transformation/interstate/state_fusion.py
  tests/numpy/attention_simple_test.py
  tests/numpy/attention_test.py
  tests/numpy/inline_scalar_test.py
  tests/numpy/nested_call_subarray_test.py
Labels: codegen, core, frontend, test, transformations

#57 Fix MapFusion transformation
  dace/graph/edges.py
  dace/graph/nodes.py
  dace/sdfg.py
  dace/transformation/dataflow/map_fusion.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/interstate/state_fusion.py
  tests/mapfusion_test.py
  tests/multiprogram_cudatest.py
  tests/tiling_test.py
Labels: core, test, transformations

#65 Serialize constant types
  dace/codegen/targets/framecode.py
  dace/frontend/python/newast.py
  dace/frontend/tensorflow/winograd.py
  dace/sdfg.py
  dace/serialize.py
  samples/fpga/filter_fpga_vectorized.py
  samples/sdfg_api/stencil_boundaries.py
  tests/constant_array_test.py
Labels: codegen, core, frontend, samples, test

#64 Allow DIODE to directly open (and prettify) an SDFG file
  diode/webclient/diode.js
Labels: diode

#67 DIODE: Use multiple processes while executing
  diode/diode_server.py
  diode/remote_execution.py
  diode/webclient/diode.js
Labels: diode

#63 Fix strict transformations after loading and nice rendering of small graphs
  dace/graph/nodes.py
  dace/properties.py
  dace/transformation/dataflow/map_fusion.py
  diode/webclient/renderer.js
  diode/webclient/renderer_dir/global_vars.js
  diode/webclient/renderer_elements.js
  tests/strict_after_load_test.py
Labels: core, diode, test, transformations

#68 Do not save generated code files unless they changed
  dace/codegen/compiler.py
Labels: codegen

#70 Translates Python 'pass' to C++ ';'.
  dace/codegen/cppunparse.py
Labels: codegen

#77 Python frontend: remove memlets from tasklet code in SDFG
  dace/frontend/python/newast.py
Labels: frontend
