Repository spcl/dace, pull requests merged in 2020-05, with the labels that each got.

#238 Gearboxing memcopies
  dace/codegen/targets/cpp.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/runtime/include/dace/xilinx/access.h
  dace/runtime/include/dace/xilinx/stream.h
  tests/veclen_copy_conversion.py
Labels: codegen, fpga

#241 Innermost loop check
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
Labels: codegen, enhancement, fpga

#226 Convert Reduce into a library node
  .travis.yml
  dace/codegen/instrumentation/papi.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/data.py
  dace/dtypes.py
  dace/frontend/operations.py
  dace/graph/nodes.py
  dace/libraries/blas/nodes/__init__.py
  dace/libraries/standard/__init__.py
  dace/libraries/standard/environments/__init__.py
  dace/libraries/standard/environments/cuda.py
  dace/libraries/standard/nodes/__init__.py
  dace/libraries/standard/nodes/reduce.py
  dace/runtime/include/dace/reduction.h
  dace/sdfg.py
  dace/symbolic.py
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/gpu_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/dataflow/mapreduce.py
  dace/transformation/dataflow/reduce_expansion.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/pattern_matching.py
  dace/transformation/testing.py
  samples/fpga/histogram_fpga_parallel.py
  tests/blockreduce_cudatest.py
  tests/cuda_test.sh
  tests/mapreduce_test.py
  tests/numpy/attention_simple_test.py
  tests/numpy/reductions_test.py
  tests/reduce_offsets_test.py
  tests/reduce_strided_disabledtest.py
  tests/softmax_test.py
  tests/wcr_cudatest.py
  tests/xilinx_test.sh
Labels: libraries

#262 Remove deprecated array initialization and wcr_identity
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/framecode.py
  dace/codegen/targets/immaterial.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/mpi.py
  dace/codegen/targets/target.py
  dace/codegen/targets/xilinx.py
  dace/frontend/common/op_impl.py
  dace/frontend/python/memlet_parser.py
  dace/frontend/python/newast.py
  dace/frontend/tensorflow/tensorflow.py
  dace/libraries/blas/nodes/gemm.py
  dace/libraries/blas/nodes/matmul.py
  dace/memlet.py
  dace/transformation/dataflow/mapreduce.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  diode/webclient/diode.js
  samples/fpga/gemv_transposed_fpga.py
  samples/fpga/histogram_fpga.py
  samples/fpga/spmv_fpga.py
  samples/graph/bfs_bsp.py
  tests/multiple_cr_test.py
Labels: codegen

#266 Xilinx memory bank assignment
  dace/codegen/CMakeLists.txt
  dace/codegen/targets/fpga.py
  dace/codegen/targets/xilinx.py
Labels: codegen, enhancement, fpga

#225 Bugfixes
  dace/data.py
  dace/sdfg.py
  dace/transformation/interstate/gpu_transform_sdfg.py
  dace/transformation/pattern_matching.py
Labels: transformations

#247 Make CI tests shorter
  .travis.yml
  Jenkinsfile
  dace/codegen/codegen.py
  dace/codegen/compiler.py
  dace/codegen/targets/framecode.py
  dace/config_schema.yml
  dace/frontend/tensorflow/tensorflow.py
  dace/sdfg/sdfg.py
  diode/remote_execution.py
  test_all.sh
  tests/specialize_test.py
Labels: test

#244 Shift registers shorthand
  dace/codegen/cppunparse.py
  dace/codegen/targets/cpp.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/target.py
  dace/codegen/targets/xilinx.py
  dace/dtypes.py
  dace/runtime/include/dace/xilinx/device.h
  dace/sdfg/nodes.py
  dace/sdfg/state.py
  tests/fpga_stencil.py
  tests/intel_fpga_test.sh
  tests/pipeline_scope.py
  tests/xilinx_test.sh
Labels: codegen, core, enhancement, fpga
