Repository spcl/dace, pull requests merged in 2020-02, with the labels that each got.

#109 Remove static symbol storage
  dace/__init__.py
  dace/codegen/compiler.py
  dace/codegen/instrumentation/papi.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/intel_fpga.py
  dace/data.py
  dace/dtypes.py
  dace/frontend/python/newast.py
  dace/frontend/python/parser.py
  dace/frontend/python/wrappers.py
  dace/sdfg.py
  dace/symbolic.py
  diode/DaceState.py
  samples/fpga/filter_fpga.py
  samples/fpga/filter_fpga_vectorized.py
  samples/fpga/gemm_fpga_pipelined.py
  samples/fpga/gemm_fpga_stream.py
  samples/fpga/gemm_fpga_systolic.py
  samples/fpga/gemv_transposed_fpga.py
  samples/fpga/histogram_fpga.py
  samples/fpga/histogram_fpga_parallel.py
  samples/fpga/jacobi_fpga_stream.py
  samples/fpga/jacobi_fpga_systolic.py
  samples/fpga/spmv_fpga.py
  samples/fpga/spmv_fpga_stream.py
  samples/graph/bfs_bsp.py
  samples/polybench/polybench.py
  samples/polybench/seidel-2d.py
  samples/simple/axpy.py
  samples/simple/gemm.py
  samples/simple/histogram.py
  samples/simple/histogram_declarative.py
  samples/simple/jacobi.py
  samples/simple/mat_add.py
  samples/simple/transpose.py
  tests/constant_array_test.py
  tests/copynd_test.py
  tests/cuda_highdim_kernel_test.py
  tests/implicit_sdfg_test.py
  tests/intel_fpga/simple_systolic_array.py
  tests/intel_fpga/type_inference.py
  tests/intel_fpga/vec_sum.py
  tests/intel_fpga/vector_reduce.py
  tests/mapreduce3_test.py
  tests/mapreduce4_test.py
  tests/mapreduce6_test.py
  tests/memlet_lifetime_validation_test.py
  tests/nested_sdfg_python_test.py
  tests/nested_sdfg_test.py
  tests/numpy/map_syntax_test.py
  tests/specialize_test.py
  tests/symbol_inference_test.py
  tests/tile_test.py
  tests/tiling_test.py
Labels: codegen, core, diode, frontend, samples, test

#111 FPGA codegen fixes
  dace/codegen/targets/fpga.py
  dace/sdfg.py
  diode/webclient/renderer_elements.js
Labels: codegen, core, diode

#112 Use __array_interface__ and __cuda_array_interface__ in calls to SDFG
  dace/codegen/compiler.py
Labels: codegen

#114 Reload DLLs on failure (fixes Issue #10)
  dace/codegen/compiler.py
  tests/instrumentation_test.py
  tests/lib_reuse_test.py
Labels: codegen, test

#110 Nested Symbols
  dace/codegen/compiler.py
  dace/codegen/targets/cpu.py
  dace/frontend/python/astutils.py
  dace/frontend/python/newast.py
  dace/frontend/python/parser.py
  dace/graph/nodes.py
  dace/properties.py
  dace/sdfg.py
  dace/serialize.py
  dace/transformation/interstate/sdfg_nesting.py
  tests/local_inline_test.py
  tests/nested_symbol_partial_test.py
  tests/nested_symbol_test.py
  tests/properties_test.py
Labels: codegen, core, diode, frontend, samples, test, transformations

#117 Use program name in `__dace_init/exit` calls
  dace/codegen/codegen.py
  dace/codegen/compiler.py
  dace/codegen/targets/framecode.py
Labels: codegen

#119 Change JSON loading scheme to work top-down
  dace/graph/graph.py
  dace/serialize.py
Labels: core

#120 Remove frontend implementation functionality
  dace/config_schema.yml
  dace/frontend/common/op_repository.py
  dace/frontend/python/newast.py
  dacelibs/blas/nodes/matmul.py
  dacelibs/blas/nodes/transpose.py
Labels: config, frontend

#8 DaCe Libraries
  dace/codegen/CMakeLists.txt
  dace/codegen/codegen.py
  dace/codegen/codeobject.py
  dace/codegen/compiler.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/framecode.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/target.py
  dace/config_schema.yml
  dace/frontend/common/op_impl.py
  dace/frontend/common/op_repository.py
  dace/frontend/python/newast.py
  dace/graph/nodes.py
  dace/libraries/__init__.py
  dace/libraries/blas/__init__.py
  dace/libraries/blas/environments/__init__.py
  dace/libraries/blas/environments/cublas.py
  dace/libraries/blas/environments/intel_mkl.py
  dace/libraries/blas/environments/openblas.py
  dace/libraries/blas/include/dace_blas.h
  dace/libraries/blas/include/dace_cublas.h
  dace/libraries/blas/nodes/__init__.py
  dace/libraries/blas/nodes/dot.py
  dace/libraries/blas/nodes/matmul.py
  dace/libraries/blas/nodes/transpose.py
  dace/library.py
  dace/properties.py
  dace/sdfg.py
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/matrix_product_transpose.py
  dace/transformation/dataflow/redundant_array.py
  dace/transformation/pattern_matching.py
  diode/DaceState.py
  diode/diode_server.py
  diode/webclient/diode.js
  diode/webclient/main.js
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
  tests/library/barlib/__init__.py
  tests/library/blas_dot_test.py
  tests/library/foolib/__init__.py
  tests/library/include_test.py
  tests/numpy/assign_in_map_test.py
  tests/numpy/blas_implementation_test.py
  tests/numpy/matrix_product_transpose_test.py
  tests/numpy/transpose_test.py
  tests/softmax_test.py
Labels: codegen, config, core, diode, frontend, transformations

#123 Fix issue with CUDA streams
  dace/codegen/targets/cuda.py
Labels: codegen

#126 SDFV Menu and export to PDF/PNG
  diode/sdfv.html
  diode/templates/sdfv.html
  diode/webclient/external_lib/blob-stream.js
  diode/webclient/external_lib/canvas2pdf.js
  diode/webclient/external_lib/pdfkit.standalone.js
  diode/webclient/index.html
  diode/webclient/renderer.js
  diode/webclient/renderer_elements.js
  diode/webclient/sdfv.css
  diode/webclient/sdfv.js
Labels: diode

#125 Change API of apply_transformations
  dace/frontend/tensorflow/tensorflow.py
  dace/sdfg.py
  tests/double_buffering_test.py
  tests/expansion_dynamic_range_test.py
  tests/instrumentation_test.py
  tests/mapfusion_test.py
  tests/mapreduce5_test.py
  tests/mapreduce6_test.py
  tests/multiprogram_cudatest.py
  tests/tile_twice_test.py
  tests/tiling_test.py
  tests/wcr_cudatest.py
Labels: core, frontend, test

#128 Relax condition for InlineSDFG in the case of input/output connectors
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

#124 Map Fission Transformation
  dace/memlet.py
  dace/sdfg.py
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/map_fission.py
  dace/transformation/helpers.py
  tests/mapfission_test.py
Labels: core, test, transformations

#133 Don't warn on uninitialized Streams
  dace/sdfg.py
Labels: core

#132 GPUTransform: Add possibility to ignore tasklets by name
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: transformations

#134 Extensible scope/tasklet preamble/postamble methods
  dace/codegen/targets/cpp.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/framecode.py
  dace/codegen/targets/immaterial.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/target.py
  dace/codegen/targets/xilinx.py
  dace/transformation/dataflow/map_for_loop.py
Labels: codegen, transformations

#136 Fix for clashing Nested SDFG names
  dace/transformation/interstate/sdfg_nesting.py
Labels: transformations

#139 Fix various issues in MapFission
  dace/sdfg.py
  dace/subsets.py
  dace/transformation/dataflow/map_fission.py
  dace/transformation/helpers.py
  dace/transformation/interstate/sdfg_nesting.py
  tests/mapfission_test.py
Labels: core, test, transformations

#140 Add option to use existing input/output nodes in add_mapped_tasklet
  dace/sdfg.py
Labels: core

#138 Fix conditions of the MergeArrays transformation
  dace/transformation/dataflow/merge_arrays.py
Labels: transformations

#106 Redundant-array-inverse
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/redundant_array.py
Labels: core, transformations
