Repository spcl/dace, pull requests merged in 2020-01, with the labels that each got.

#80 Segmented reduce
  dace/codegen/targets/cuda.py
  dace/runtime/include/dace/reduction.h
  dace/transformation/interstate/gpu_transform_sdfg.py
Labels: codegen, transformations

#78 DIODE: Fix paths and execute programs on Windows
  diode/DaceState.py
  diode/diode_server.py
  diode/remote_execution.py
Labels: diode

#81 Use absolute strides in data descriptors
  dace/codegen/instrumentation/papi.py
  dace/codegen/targets/common.py
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/fpga.py
  dace/codegen/targets/immaterial.py
  dace/codegen/targets/intel_fpga.py
  dace/codegen/targets/xilinx.py
  dace/data.py
  dace/frontend/common/op_impl.py
  dace/frontend/python/newast.py
  dace/sdfg.py
  dace/subsets.py
  dace/transformation/dataflow/fpga_transform.py
  dace/transformation/dataflow/gpu_transform_local_storage.py
  dace/transformation/interstate/fpga_transform_state.py
  diode/webclient/diode.js
  tests/nested_strides_test.py
  tests/offset_stride_test.py
Labels: codegen, core, diode, frontend, test, transformations

#82 Adds missing parameter to function '_Tuple(..)'.
  dace/codegen/cppunparse.py
Labels: codegen

#86 Avoid allocation of variable-length arrays if allocated on the stack
  dace/codegen/targets/cpu.py
  tests/vla_test.py
Labels: codegen, test

#87 Fix cppunparse for Python 3.8
  dace/codegen/cppunparse.py
Labels: codegen

#90 Coverage tests
  .travis.yml
  Jenkinsfile
  setup.py
  test_all.sh
  tests/cuda_test.sh
  tests/e2e_test.sh
  tests/fpga_polybench_test.sh
  tests/gemm_test.sh
  tests/intel_fpga_test.sh
  tests/polybench_test.sh
  tests/xilinx_test.sh
Labels: test

#92 Coverage improvements
  .coveragerc
  dace/graph/nxutil.py
  dace/transformation/dataflow/fpga_transform.py
  dace/transformation/dataflow/map_dim_interchange.py
  tests/e2e_test.sh
Labels: core, test, transformations

#99 SDFG Instrumentation Report Inspection API
  .coveragerc
  .travis.yml
  dace/codegen/compiler.py
  dace/codegen/instrumentation/__init__.py
  dace/codegen/instrumentation/cuda_events.py
  dace/codegen/instrumentation/papi.py
  dace/codegen/instrumentation/perfdb.py
  dace/codegen/instrumentation/provider.py
  dace/codegen/instrumentation/report.py
  dace/codegen/instrumentation/timer.py
  dace/codegen/targets/framecode.py
  dace/codegen/targets/target.py
  dace/config_schema.yml
  dace/frontend/python/decorators.py
  dace/frontend/python/parser.py
  dace/graph/graph.py
  dace/graph/nodes.py
  dace/runtime/include/dace/dace.h
  dace/runtime/include/dace/perf/papi.h
  dace/runtime/include/dace/perf/reporting.h
  dace/sdfg.py
  diode/adjust_settings.py
  diode/db_scripts/__init__.py
  diode/db_scripts/db_setup.py
  diode/db_scripts/sql_to_json.py
  diode/db_scripts/sql_to_json_test.py
  diode/diode_server.py
  diode/remote_execution.py
  tests/cuda_test.sh
  tests/instrumentation_test.py
Labels: codegen, config, core, diode, frontend, test

#88 Fixes for Python frontend and strict xforms
  .travis.yml
  dace/codegen/targets/cpu.py
  dace/frontend/python/newast.py
  dace/graph/nodes.py
  dace/transformation/dataflow/__init__.py
  dace/transformation/dataflow/map_collapse.py
  dace/transformation/dataflow/mapreduce.py
  dace/transformation/dataflow/redundant_array.py
  dace/transformation/interstate/sdfg_nesting.py
  dace/transformation/interstate/state_fusion.py
  samples/fpga/filter_fpga.py
  samples/fpga/spmv_fpga_stream.py
  tests/inline_noinput_test.py
  tests/mapreduce6_test.py
  tests/numpy/assign_in_map_test.py
  tests/numpy/element_assignment_test.py
  tests/numpy/nested_subrange_test.py
  tests/numpy/rgf_exhaustivetest.py
  tests/numpy/rowwise_assign_test.py
  tests/numpy/subarray_assignment_test.py
  tests/numpy/subarray_in_nested_call_test.py
  tests/softmax_test.py
Labels: codegen, core, frontend, samples, test, transformations

#102 Fix code generation for edge cases in Reduce nodes
  dace/codegen/targets/cpu.py
  dace/codegen/targets/cuda.py
  dace/codegen/targets/framecode.py
  dace/graph/nodes.py
  dace/subsets.py
  test_all.sh
  tests/cuda_test.sh
  tests/e2e_test.sh
  tests/fpga_polybench_test.sh
  tests/gemm_test.sh
  tests/intel_fpga_test.sh
  tests/mpi_test.sh
  tests/polybench_test.sh
  tests/reduce_offsets_test.py
  tests/reduce_strided_test.py
  tests/xilinx_test.sh
Labels: codegen, core, test

#105 Better drawing of graph edges
  diode/webclient/renderer.js
  diode/webclient/renderer_dir/dagre.js
  diode/webclient/renderer_elements.js
Labels: diode

#103 Make pipeline entries/exists serializable/deserializable
  dace/codegen/targets/fpga.py
  dace/graph/nodes.py
  dace/properties.py
Labels: codegen, core, fpga

#89 Adds option to propagate labels only when needed.
  dace/sdfg.py
Labels: enhancement, frontend
