Repository spcl/dace, pull requests merged in 2025-01, with the labels that each got.

#1871 scal2sym: Fix incorrect dimensionality in indirection removal
  dace/transformation/passes/scalar_to_symbol.py
  tests/passes/scalar_to_symbol_test.py
Labels: cherry-pick-v1

#1873 Fix a bug where dead state elimination leads to disconnected graphs
  dace/transformation/passes/dead_state_elimination.py
Labels: bug

#1885 Apply liftstructviews to meta codes in control flow regions
  dace/codegen/targets/cpp.py
  dace/transformation/passes/lift_struct_views.py
  tests/passes/lift_struct_views_test.py
Labels: bug, transformations
